apple-proj/src/main/mule/apple-proj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ebdea0ea-0e58-4418-81d7-92466ec6718b" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="f9afcc2c-fcf6-4135-8eb6-44db3ea30280" file="mydata.properties" />
	<flow name="apple-projFlow" doc:id="2bc21a88-ecd5-4911-9dd6-d865403cfaed" >
		<http:listener doc:name="Listener" doc:id="ddd630e8-d6a9-44ac-ae44-afdce5b4e49a" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["maven deployment successs...."]' doc:name="Set Payload" doc:id="3284b68b-1df7-4b8e-abf0-38beff0144af" />
	</flow>
</mule>
